<h1 class="text-center">URL Shortener</h1>
<img style="display:block;margin:0 auto" src="https://picsum.photos/300/300" alt="">
<form class="text-center mt-3" action="/" method="post">
  <input type="text" placeholder="ex:https://tw.yahoo.com" name="originUrl">
  <div class="mt-3">
    <button type="submit">Shorten!</button>
  </div>

</form>