<h1 class="text-center">URL Shortener</h1>
<img style="display:block;margin:0 auto" src="https://picsum.photos/300/300" alt="">
<h2>
  Link shortening successful!Visit your website at
  <a href="{{shortUrl}}">localhost:3000/{{shortUrl}}</a>
</h2>

<a href="/">homepage</a>